html, body {
    width: 100%;
    overflow-x: clip;
    overflow-y: clip;
  }

  

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .main_page {
    padding-left: 0;
  }

.main_page {
    background-image: url("mainbg.jpg");
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    max-height: 90vh;
}

nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-image: linear-gradient(to right, #121c1d, #51524e);
    min-height: 10vh;
}

.searchbar {
    background-color: white;
    color:aquamarine;
    border-radius: 5em;
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0.5em;
}

div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

section{
    width: 40%;
    margin-left: 15%;
    color: white;
    padding: 4em;
    display: flex;
    flex-direction: column;
}



h2{
    color: white;
    font-family: serif;
}

a{
    color: white;
    padding: 1em;
    text-decoration: none;
}
body{
    height: 100%;
}

.shaded{
    background-color: rgba(0, 0, 0, 0.3);
}

h1{
    font-weight: 900;
    font-family: sans-serif;
}

.team_info{
    flex-direction: column;
    padding: 5em;
}

.title_card{
    border-color: white;
    border-radius: 2em;
    background-color: blue;
    padding: 1em;
    width: 90%;
}

.contact_input{
    border-radius: 2em;
    border-color: gray;
    background: none;
}

.submit_button{
    border-radius: 2em;
    background-color: #247479;
    text-align: center;
}

aside{
    width: 30%; 
    margin-right: 5%;
    height: 90vh;
    overflow-y: auto;
}

aside::-webkit-scrollbar {
    display: none;
}



.separator{
    width: 100%;
    border-radius: 1em;
    height: 2em;
    background-color: #247479;
    margin-bottom: 2em;
    margin-top: 2em;
}

.result{
    border-radius: 0.5em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: stretch;
    height: 50%;
    margin-bottom: 2em;
}

.result *:not(.result-image) {
    margin: 1em;
  }

.result-image{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
    width: 100%;
}

.result-button{
    background-color: #247479;
    border-radius: 0.5em;
    padding: 1em;
    text-align: center;
    color: white;
}
